<H1>Score for <%= @assignment.name %></H1>
<% # ============= yxue4,xfang2,hsun6===============
# codes added to update score everytime when the user checks
# ============= yxue4,xfang2,hsun6================  %>
<% if res_map = ResponseMap.find(:first, :conditions => ["reviewed_object_id = ? and reviewee_id = ?", @assignment.id, @participant.id])
       if res = Response.find(:first, :conditions => ["map_id = ?", res_map.id])
           ScoreCache.update_cache(res.id)
       end
   end %>
<% #########################end################################# %>
<TABLE class="grades" >
  <%= render :partial => 'grades/participant_title', :locals => {:prefix => nil} %>
  <%= render :partial => 'grades/participant',
             :locals => {:prefix => 'user',
                         :team => false,
                         :pscore => @participant.get_scores(@questions)} %>

</TABLE>

<BR/>
<a href="javascript:window.history.back()">Back</a>   